<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<link th:href="@{/css/background.css}" rel="stylesheet" />

<body class="container  body-content">
<h1 th:text="${game.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="game-listing">
    <p th:text="${game.description}"></p>
    <table>
    <tr>
     <th>Game Name</th>
     <th><p th:text="${game.name}"></p></th>
    </tr>
    <tr>
     <th>Game Id</th>
     <th><p th:text="${game.id}"></p></th>
    </tr>
    <tr>
     <th>Game Type</th>
     <th><p th:text="${game.type}"></p></th>
    </tr>
    </table>


</div>