<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>
<link th:href="@{/css/background.css}" rel="stylesheet" />

<h1>Add Game</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${game.name}" />
        <span th:errors="${game.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Game Description</label>
        <input class="form-control" th:field="${game.description}" size="100px">
        <span th:errors="${game.description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="type">Game Type</label>
            <select type="checkbox" name="type">
                <option value="board">Board Game</option>
                <option value="card">Card Game</option>
                <option value="dice">Dice Game</option>
            </select>
    </div>


    <input type="submit" value="Add Game" />
</form>

</body>
</html>